@import 'colors.less';

.hero {
  text-align: center;
  padding-top: 80px;
  min-height:300px;

  .small-image {
    max-width: 150px;
  }
}

.container {
  padding: 30px;

  &.full-width {
    width: 100%;
    max-width: 100%;
  }

  &.centered {
    text-align: center;
  }

  &.primary {
    background-color: @primary;
    color: @primary-alt;
  }

  &.yoco {
    background-color: @yoco;
    color: @primary-alt;

    a {
      color: @light-blue;
    }
  }

  &.light {
    background-color: @light-gray;
  }

  &.no-padding-bottom {
      padding-bottom: 0;
  }
}

.padding-top {
  padding-top: 40px;
}

hr {
  &.primary {
    border-bottom: 3px solid @primary;
  }
  &.divider {
    width: 60%;
    margin: 0 auto 0 auto;
  }
}

.framed-image {
  border-radius: 100%;
  height: 400px;
  width: 400px;
}

a {
  text-decoration: none;
  color: @primary;

  &:hover {
    color: @primary;
  }
}

.nav-link {
  padding: 10px 20px;

  &.active {
    border-bottom: 3px solid @primary;
    font-weight: 600;
  }

  &:hover {
    color: @primary;
    border-bottom: 3px solid @light-blue;
  }
}
